.login {
    align-items: center;
}

.login__name {
    font-size: 10px;
    font-family: comfortaa;
    padding: 10px;
}

.login__pass {
    font-size: 10px;
    font-family: comfortaa;
    padding: 10px;
}

.login__btn {
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    background-color: lightpink;
    cursor: pointer;
    font-family: comfortaa;
}